VITE_GOOGLE_CLIENT_ID=157050050298-1ff2kfr88lo2i5ites6gnbg8gf121ar3.apps.googleusercontent.com
VITE_API_BASE_URL=http://localhost:5000/api
VITE_VAPID_PUBLIC_KEY=BOP1fHGa34CnDiQuA8NSVd4DvmSLPrvphs-qMgJF2l75J0yOwiSHdYwTfESjPYGTy_Kkk8jTAjoxG4uXMvOsu4Y
